.main-container {
	width: 80%;
	margin: 0 auto;
	padding-left: 135px;
	padding-top: 40px;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
}

.button-languages {
	background-color: transparent;
	border-color: transparent;
	color: #31708f;
}

#btnAdd:hover {
	color: #224423;
}

#btnEdit:hover {
	color: #224423;
}

#btnRemove:hover {
	color: #224423;
}

.language-box {
	background-color: #d8e5f0 !important;
}

.language-box-title {
	color: #1e5f80;
}

.languages-box-footer {
	height: 50px;
}

.language-level-text {
	font-size: 16px;
}

.progress-bar-personalized{
	background-color: #4f9e50 !important;
}

.profile-pic {
	width: 250px;
}

.personal-data {
	font-size: 16px;
}

.save-button{
	width: 125px;
}


