<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<span class="navbar-brand">FiYoTeam</span>

		</div>

		<div class="collapse navbar-collapse" id="myNavbar">
			<div class="row pull-right">
				<span class="navbar-brand">Logged in: {{ userEmail }}</span>
				<span (click)="logout()" class="navbar-brand glyphicon glyphicon-log-out"></span>
			</div>
		</div>
	</div>
</nav>

<h1>Admin Page.</h1>
