<div id="page-wrapper">
  <div class="row project-page-header">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h1 class="page-header project-page-header-title">Masterdata maintenance - Skills</h1>
    </div>
  </div>

  <div class="row">

    <div *ngFor="let collaboration of teamsImLeading" class="col-lg-12">
      <div class="panel panel-default box-panel">
        <div class="panel-heading panel-heading-1 personal-information-panel">
          <h3 class="panel-title"><i class="fa fa-users"></i> {{collaboration.project.name}}</h3>
        </div>
        <div class="panel-body panel-body-1">

          <div class="flex-container-developers">

            <div *ngFor="let collaborator of collaboration.collaborators" class="card-container manual-flip">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    <img *ngIf="collaborator.profilePicUrl != null" class="card-cover-blur" [src]="collaborator.profilePicUrl"/>
                    <img *ngIf="collaborator.profilePicUrl == null" class="card-cover-blur" src="./resources/images/default_avatar.jpg" />
                  </div>
                  <div class="user">
                    <img *ngIf="collaborator.profilePicUrl != null" class="img-circle card-cover-no-blur" [src]="collaborator.profilePicUrl"/>
                    <img *ngIf="collaborator.profilePicUrl == null" src="./resources/images/default_avatar.jpg"  class="img-circle card-cover-no-blur" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name" (click)="changeSelectedUser(collaborator.id)">{{collaborator.firstName}} {{collaborator.lastName}}</h3>
                      <p *ngIf="collaborator.city.length > 3" class="location">{{collaborator.city}} ({{collaborator.country}})</p>
                      <p *ngIf="collaborator.city.length <= 3" class="location">Location not published</p>
                      <p *ngIf="collaborator.description != null" class="text-center">{{collaborator.description.substring(0, 45)}}...</p>
                    </div>
                    <div class="footer">
                      <button class="btn btn-simple" onclick="rotateCard(this)">
                        <i class="fa fa-mail-forward"></i> Flip Card
                      </button>
                    </div>
                  </div>
                </div> <!-- end front panel -->
                <div class="back">
                  <div class="content">
                    <div class="main">
                      <p *ngIf="collaborator.description != null" class="text-center2">{{collaborator.description.substring(0, 150)}}...</p>
                      <p *ngIf="collaborator.description == null" class="text-center2">No description provided...</p>
                    </div>
                  </div>
                  <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                      <i class="fa fa-reply"></i> Back
                    </button>
                  </div>
                </div> <!-- end back panel -->
              </div> <!-- end card -->
            </div> <!-- end flex-container -->

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

