<div id="page-wrapper">
  <div class="row project-page-header">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h1 class="page-header project-page-header-title">Masterdata maintenance - Skills</h1>
    </div>
  </div>

  <div class="row">

    <form class="form-horizontal" id="editproject" data-toggle="validator">

      <div class="form-group">
        <div class="row">   
          <input [(ngModel)]="newSkill" class="col-xs-3 col-sm-3 col-md-3 col-lg-2 form-control" type="text" style="max-width: 200px; margin-left: 30px; margin-right: 15px;">
          <input (click)="addNewSkill()" class="col-xs-2 col-sm-2 col-md-2 col-lg-1 btn btn-primary save-button" value="Add" type="submit">
        </div>
        
      </div>

      <div class="form-group needed-technologies-select">

        <div *ngFor="let skill of availableSkills" style="float:left; height:22px; margin-right:5px; margin-left:1px; margin-bottom:10px; background-color: #8f7aa7; border-radius: 5px;">
          <span class="tag label">
          <span>{{skill.skill}}</span>
            <a (click)="deleteSkill(skill.id)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> 
          </span>
        </div>
      </div>
    </form>

  </div>
</div>

