<div class="container-full">

    <div class=top_wrapper>

        <nav class="navbar navbar-inverse navbar-fixed-top custom-navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-logo">FiYoTeam</a>

            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div id="myNavbar" class="collapse navbar-collapse navbar-ex1-collapse">
                <form (ngSubmit)="login()" id="login" class="navbar-form navbar-right navbar-login-form" role="form" data-toggle="validator">

                    <div class="input-group input-margin"  [ngClass]="{'has-error': loginError }" >
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input [(ngModel)]="user.email" id="email" type="email" class="form-control"  (ngModelChange)="disableLoginError()" name="email" placeholder="Email Address" autocomplete="off" required>
                    </div>

                    <div class="input-group input-margin" [ngClass]="{'has-error': loginError }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input  [(ngModel)]="user.password" id="password" type="password" class="form-control"  (ngModelChange)="disableLoginError()" name="password" placeholder="Password" autocomplete="off" required>
                    </div>

                    <div class="input-group input-margin">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div class="jumbotron text-center">
            <div class="container">
                <h1>Find Your Team!</h1>
                <h2>Find your own Developer Team for your Startup with <span class="fiyoteam-text">FiYoTeam</span> – in a Professional Way.</h2>

                <div class="container register-container">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h3 class="panel-title">Create new FiYoTeam account  <small>It's free!</small></h3>
                            </div>

                            <div class="panel-body">

                                <form (ngSubmit)="register()" id="register" data-toggle="validator">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input [(ngModel)]="userToRegister.firstName" type="text" name="first_name" id="first_name" class="form-control input-sm"  placeholder="First Name" required>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input [(ngModel)]="userToRegister.lastName" type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input [(ngModel)]="userToRegister.email" type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" autocomplete="off" required>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="input-group" [ngClass]="{'has-error': validatePassword() == -1, 'has-success': validatePassword() == 1 }">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                                <input [(ngModel)]="userToRegister.password" type="password" name="password" id="password2" class="form-control input-sm" placeholder="Password - Min 6 Characters (lowercase, upercase and special characters)" autocomplete="off"  required>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <input type="submit" value="Register" class="btn btn-info btn-block">

                                    <div *ngIf="successfulRegistration" class="alert alert-success registration-message">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="glyphicon glyphicon-ok-sign"></i>
                                        <i>Registration successful! Check your e-mails to activate the account.</i>
                                    </div>

                                    <div *ngIf="unsuccessfulRegistration" class="alert alert-danger registration-message">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <span class="glyphicon glyphicon-info-sign"></span> 
                                        <i>Registration unsuccessful! Email already in use.</i>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- register container -->

            </div>

        </div>
        <!-- jumbotron -->

    </div>
    <!-- top_wrapper-->

    <div class="selling_point">
        <div class="container">

            <div class="col-xs-12 col-sm-4 workflow_div">
                <img src="/resources/images/workflow_1.png" class="workflow-img">
                <strong class="my_strong">1. Get an ideea for a Startup Project.</strong>
            </div>

            <div class="col-xs-12 col-sm-4 workflow_div">
                <img src="/resources/images/workflow_2.png" class="workflow-img">
                <strong class="my_strong">2. Create a FiYoTeam account, and complete your profile.</strong>
            </div>

            <div class="col-xs-12 col-sm-4 workflow_div">
                <img src="/resources/images/workflow_3.png" class="workflow-img">
                <strong class="my_strong">3. Add your Startup Project details, and wait for developers find your Project.</strong>
            </div>

        </div>
    </div>

    <div class="footer_wrapper">
        <div class="container">
            <div class="footer">
                <div class="col-sm-12 text-center copyright">
                    <p>Copyright 2016 FiYoTeam. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

</div> 
<!-- container full -->
