<div id="page-wrapper">

  <div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default box-panel">
        <div class="panel-heading panel-heading-1 personal-information-panel">
          <h3 class="panel-title"><i class="fa fa-user"></i> Personal Information</h3>
        </div>
        <div class="panel-body panel-body-1">


          <!-- left column -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <img *ngIf="profilePicURL" [src]="profilePicURL" class="avatar img-thumbnail profile-pic" alt="avatar">
              <img *ngIf="profilePicURL == null" src="./resources/images/default_avatar.jpg" class="avatar img-thumbnail profile-pic" alt="avatar">
            </div>
          </div>

          <!-- Personal Info form column -->
          <div class="col-md-9 col-sm-6 col-xs-12 personal-info">

            <form class="form-horizontal" role="form" data-toggle="validator">
              <div class="form-group">
                <label class="col-lg-3 control-label personal-data">Name:</label>
                <div class="col-lg-8">
                  <input value="{{user.firstName}} {{user.lastName}}" class="form-control otheruser-profile-textbox" type="text" readonly="true">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label personal-data">Location:</label>
                <div class="col-lg-8">
                  <input value="{{user.city}} ({{user.country}})" class="form-control otheruser-profile-textbox" type="text" readonly="true">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label personal-data">Email:</label>
                <div class="col-lg-8">
                  <input [(ngModel)]="user.email" class="form-control otheruser-profile-textbox" type="text" readonly="true">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label personal-data">Description:</label>
                <div class="col-lg-8">
                  <textarea [(ngModel)]="user.description" class="form-control otheruser-profile-textbox" rows="5" placeholder="No description provided..." readonly="true"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <rating></rating>
    </div>

  </div>

  <h1 class="page-header">Personal Skills</h1>

  <otherslanguage-template></otherslanguage-template>
  <othersskill-template></othersskill-template>
  <othersprojects></othersprojects>

</div>

