
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm rating-box box-panel">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="row rating-desc">
                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>5
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{rating.percentage5Star}}%"></div>
                                <span class="progress-type progress-type-custom">{{rating.percentage5Star}}%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>4
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{rating.percentage4Star}}%"></div>
                                <span class="progress-type progress-type-custom">{{rating.percentage4Star}}%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>3
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{rating.percentage3Star}}%"></div>
                                <span class="progress-type progress-type-custom">{{rating.percentage3Star}}%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>2
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{rating.percentage2Star}}%"></div>
                                <span class="progress-type progress-type-custom">{{rating.percentage2Star}}%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>1
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{rating.percentage1Star}}%"></div>
                                <span class="progress-type progress-type-custom">{{rating.percentage1Star}}%</span>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                </div>
                <div class="col-xs-12 col-md-6">
                    <form class="star-position">
                        <input *ngIf="canIRateHim == true" type="text" class="kv-fa rating-loading" data-show-clear="false" data-show-caption="true" value="{{rating.avgRating}}" data-size="md" title="">
                        <input *ngIf="canIRateHim == false" data-readonly="true" type="text" class="kv-fa rating-loading" data-show-clear="false" data-show-caption="true" value="{{rating.avgRating}}" data-size="md" title="">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
