
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm rating-box box-panel">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="row rating-desc">

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>5
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                <span class="progress-type progress-type-custom">50%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>4
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                                <span class="progress-type progress-type-custom">25%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                            <span class="fa fa-star"></span>3
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
                                <span class="progress-type progress-type-custom">15%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>2
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 7%"></div>
                                <span class="progress-type progress-type-custom">7%</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="dark-star">
                                <span class="fa fa-star"></span>1
                            </div>

                            <div class="progress progress-custom">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 3%"></div>
                                <span class="progress-type progress-type-custom">3%</span>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <h1 class="rating-num">3.7</h1>
                    <div class="rating">
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star-half-empty"></span>
                        <span class="fa fa-star-o"></span>
                    </div>
                    <div>
                        <span class="fa fa-user"></span>125888 total votes
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
