<div id="page-wrapper">
    <div class="row project-page-header">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h1 class="page-header project-page-header-title">Find Developers</h1>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
         <div class="input-group search">
           <input [(ngModel)]="searchCriteria" type="text" class="form-control" placeholder="Search..." name="q"/>
           <div class="input-group-btn">
            <button (click)="getNrOfPages()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</div>
</div>

<div class="im-centered">

    <div *ngFor="let user of users" class="card-container manual-flip">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img *ngIf="user.profilePicURL != null" class="card-cover-blur" [src]="user.profilePicURL"/>
                    <img *ngIf="user.profilePicURL == null" class="card-cover-blur" src="./resources/images/default_avatar.jpg" />
                </div>
                <div class="user">
                    <img *ngIf="user.profilePicURL != null" class="img-circle card-cover-no-blur" [src]="user.profilePicURL"/>
                    <img *ngIf="user.profilePicURL == null" src="./resources/images/default_avatar.jpg"  class="img-circle card-cover-no-blur" />
                </div>
                <div class="content">
                    <div class="main">
                        <h3 class="name" (click)="changeSelectedUser(user.id)">{{user.firstName}} {{user.lastName}}</h3>
                        <p *ngIf="user.city.length > 3" class="location">{{user.city}} ({{user.country}})</p>
                        <p *ngIf="user.city.length <= 3" class="location">Location not published</p>
                        <p *ngIf="user.description != null" class="text-center">{{user.description.substring(0, 45)}}...</p>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> Flip Card
                        </button>
                    </div>
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div class="content">
                    <div class="main">
                        <p *ngIf="user.description != null" class="text-center2">{{user.description.substring(0, 150)}}...</p>
                        <p *ngIf="user.description == null" class="text-center2">No description provided...</p>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
            </div> <!-- end back panel -->
        </div> <!-- end card -->
    </div> <!-- end card-container -->

    <nav *ngIf="nrOfPages.length > 1" class="pag-cust">
      <ul class="pagination justify-content-center">
          <li *ngFor="let page of nrOfPages" class="page-item" [ngClass]="{'active': currentPageNr == page }" (click)="getUsers(page)"><a class="page-link"> {{page + 1}} </a></li>
      </ul>
  </nav>

</div>
</div>

