<div id="page-wrapper">
    <h1 class="page-header">Find Developers</h1>

    <div class="im-centered">

        <div *ngFor="let user of users" class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img *ngIf="user.profilePicURL != null" class="card-cover-blur" [src]="user.profilePicURL"/>
                        <img *ngIf="user.profilePicURL == null" class="card-cover-blur" src="./resources/images/default_avatar.jpg" />
                    </div>
                    <div class="user">
                        <img *ngIf="user.profilePicURL != null" class="img-circle card-cover-no-blur" [src]="user.profilePicURL"/>
                        <img *ngIf="user.profilePicURL == null" src="./resources/images/default_avatar.jpg"  class="img-circle card-cover-no-blur" />
                    </div>
                    <div class="content">
                        <div class="main">
                            <h3 class="name" (click)="changeSelectedUser(user.id)">{{user.firstName}} {{user.lastName}}</h3>
                            <p *ngIf="user.city.length > 3" class="location">{{user.city}} ({{user.country}})</p>
                            <p *ngIf="user.city.length <= 3" class="location">Location not published</p>
                            <p *ngIf="user.description != null" class="text-center">{{user.description.substring(0, 45)}}...</p>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-forward"></i> Flip Card
                            </button>
                        </div>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="content">
                        <div class="main">
                            <p *ngIf="user.description != null" class="text-center2">{{user.description.substring(0, 150)}}...</p>
                            <p *ngIf="user.description == null" class="text-center2">No description provided...</p>
                        </div>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                            <i class="fa fa-reply"></i> Back
                        </button>
                    </div>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->

        <nav class="pag-cust">
          <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link"> << </a></li>
              <li class="page-item"><a class="page-link"> 1 </a></li>
              <li class="page-item"><a class="page-link"> 2 </a></li>
              <li class="page-item"><a class="page-link"> 3 </a></li>
              <li class="page-item"><a class="page-link"> >> </a></li>
          </ul>
      </nav>

  </div>
</div>

