<div class="panel panel-default">

  <div class="panel-heading">
    <h3>Languages</h3>
  </div>

  <div class="panel-body">

    <div *ngFor="let language of languages">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{language.level}}%">
          {{language.language}}
        </div>
      </div>
    </div>

  </div>

  <div class="panel-heading">

    <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addLanguagesModal"><i class="glyphicon glyphicon-plus"></i></button>
    <button class="btn btn-default pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#editlanguage"><i class="glyphicon glyphicon-cog"></i></button>

    <br><br>


    
  </div>

</div>