<div class="nav-side-menu">
	<div class="navbar-brand">FiYoTeam</div>

	<div class="menu-list">
		<ul id="menu-content" class="menu-content out">
			<li [ngClass]="{'active': activeMenu==1 }" (click)="switchMenu(1)">
				<div class="nav-side-menu-icon">
					<i class="fa fa-cubes fa-lg"></i>
				</div>
				<div class="nav-side-menu-text">Projects</div>
			</li>

			<li [ngClass]="{'active': activeMenu==2 }" (click)="switchMenu(2)">
				<div class="nav-side-menu-icon">
					<i class="fa fa-users fa-lg"></i>
				</div> 
				<div class="nav-side-menu-text">Users</div>
			</li>

			<li [ngClass]="{'active': activeMenu==3 }" (click)="switchMenu(3)">
				<div class="nav-side-menu-icon">
					<i class="fa fa-comment-o fa-lg"></i>
				</div> 
				<div class="nav-side-menu-text">Messages</div>
			</li>  

			<li [ngClass]="{'active': activeMenu==4 }" (click)="switchMenu(4)">
				<div class="nav-side-menu-icon">
					<i class="fa fa-cogs fa-lg"></i>
				</div> 
				<div class="nav-side-menu-text">Settings</div>
			</li>

			<li [ngClass]="{'active': activeMenu==5 }" (click)="switchMenu(5)">
				<div class="nav-side-menu-icon">
					<i class="fa fa-user fa-lg"></i>
				</div> 
				<div class="nav-side-menu-text">Profile</div>
			</li>

			
		</ul>
	</div>
</div>

<div class="user-top-navbar">
	<div class="pull-right">
	<div class="pull-right">
			<button (click)="clickOnUser()" type="button" class="btn btn-secondary current-user"><span class="glyphicon glyphicon-user"></span> {{ userName }}</button>
		</div>

		<div *ngIf="isUserClicked" class="speech-bubble">
			<button (click)="logout()" type="button" class="btn btn-secondary btn-sm rotate180deg logout-btn">
				<span class="glyphicon glyphicon-log-out"></span> Log out
			</button>
		</div>

	</div>
</div>

<userprofile *ngIf="activeMenu==5"></userprofile>
