<div class="nav-side-menu">
	<div class="brand">FiYoTeam</div>

	<div class="menu-list">

		<ul id="menu-content" class="menu-content collapse out">
			<li>
				<a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
			</li>

			<li>
				<a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements</a>
			</li>

			<li>
				<a href="#"><i class="fa fa-globe fa-lg"></i> Services</a>
			</li>  

			<li>
				<a href="#"><i class="fa fa-car fa-lg"></i> New</a>
			</li>

			<li>
				<a href="#">
					<i class="fa fa-user fa-lg"></i> Profile
				</a>
			</li>

			<li>
				<a href="#">
					<i class="fa fa-users fa-lg"></i> Users
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="user-top-navbar">
	<div class="pull-right">

		<button (click)="clickOnUser()" type="button" class="btn btn-secondary current-user"><span class="glyphicon glyphicon-user"></span> {{ userName }}</button>

		<div *ngIf="isUserClicked" class="speech-bubble">
			<button (click)="logout()" type="button" class="btn btn-secondary btn-sm rotate180deg logout-btn">
				<span class="glyphicon glyphicon-log-out"></span> Log out
			</button>
		</div>

	</div>
</div>
