<div class="container main-container">

  <h1 class="page-header">Edit Profile</h1>

  <div class="row">

    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://images.freeimages.com/images/previews/a96/business-man-avatar-vector-1236211.jpg" class="avatar img-thumbnail profile-pic" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>

    <!-- Personal Info form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>alert</strong>. Use this to show important messages to the user.
      </div>

      <form class="form-horizontal" role="form" data-toggle="validator">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input [(ngModel)]="user.firstName" class="form-control" type="text" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input [(ngModel)]="user.lastName" class="form-control" type="text" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Country:</label>
          <div class="col-lg-8">
            <input [(ngModel)]="user.country" class="form-control" type="text" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">City:</label>
          <div class="col-lg-8">
            <input [(ngModel)]="user.city" class="form-control" type="text" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input [(ngModel)]="user.email" class="form-control" type="email" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="submit">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>

      </form>
    </div>
  </div>


  <h1 class="page-header">Personal Skills</h1>


  <div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a> 
    <i class="fa fa-coffee"></i>
    This is an <strong>alert</strong>. Use this to show important messages to the user.
  </div>

  <language-template></language-template>
  <skill-template></skill-template>

</div>

