.page-header-custom {
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.progress-project {
	position: relative;
	height: 20px;
	font-size: 12px;
	margin-bottom: 10px !important;
}

.project-name {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.project-buttons {
	padding-top: 50px;
	padding-right: 0px;
}

.project-page-header {
	margin-bottom: 20px !important;
	border-bottom: 1px solid #eee;
}

.project-page-header-title {
	border-bottom: 0px solid #eee !important;
	margin: 40px 0 0px !important;
}


@media (min-width: 1550px) {
	.project-panel-big {
		width: 47%;
		display: inline-block;
		margin-right: 30px;
		text-align: left;
	}
}

@media (max-width: 1550px) {
	.project-panel-small {
		width: 100%;
		display: inline-block;
		margin-right: 30px;
		text-align: left;
	}
}

@media (max-width: 768px) {
	.add-project-modal {
		padding-left: 35px;
		padding-right: 35px;
	}

	.project-add-modal-descr {
		margin-left: 6px !important;
		margin-right: 6px !important;
	}

	.project-name-label {
		padding-left: 0px !important;
	}
}

@media (min-width: 768px) {
	.add-project-modal-description {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.im-centered-project {
	height: 100px;
	width: 100%;
	margin: 10px;
	position: relative;
	text-align: center;
}

.project-panel-active {
	background-color: #d8e5f0 !important;
}

.project-panel-closed {
	background-color: #f3c0c0 !important;
}

.edit-project-button {
	padding-top: 10px;
}

.project-name-label {
	padding-right: 57px !important;
}

.needed-technologies-select {
	margin-left: 25px !important;
	width: 90%;
}

.needed-tecnologies {
	margin-bottom: 15px;
}

.tag-div{
	float:left; 
	height:22px; margin-right:5px; 
	margin-left:1px; margin-bottom:10px;
	background-color: #8f7aa7; 
	border-radius: 5px;
}

.tag {
	font-size: 14px;
	padding-right: 0px;
	margin: 0 .1em;
	color: #fff;
}

.tag a {
	color: #bbb;
	cursor: pointer;
	opacity: 0.6;
}

.tag a:hover {
	opacity: 1.0
}

.tag .remove {
	vertical-align: bottom;
	top: 3;
}

.tag a {
	margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
	color: #fff;
	margin-top: 3px;
	margin-bottom: 4px;
}

.label{
	margin-bottom: 15px;
}