.fa {
    margin-right: 5px;
}

.rating {
    color: gold;
}

.rating .fa {
    font-size: 22px;
}

.rating-num {
    margin-top: 0px;
    font-size: 60px;
}

.progress-type-custom {
    padding: 3px 10px 2px 10px;
    background-color: rgba(25, 25, 25, 0) !important;
}

.progress-custom {
    margin-bottom: 5px;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}